// Editor specific styles
.wp-block-gopublish-carousel {
	.carousel-container {
		position: relative;
		overflow: visible; // Show all slides in editor
		padding: 20px;
		border: 1px solid;
		.block-editor-inner-blocks {
			min-height: 30px;
		}
	}
	.block-editor-block-list__block {
		margin-bottom: 10px;
	}
	> .carousel-container > .block-editor-inner-blocks > .block-editor-block-list__layout {
		display: grid !important;
		grid-template-columns: repeat(var(--columns), 1fr);
		gap: 10px;
	}
}