.wp-block-gopublish-carousel {
	position: relative;
	--nav-container-padding: 0.75rem;
	--nav-container-padding-left: 0;
	--nav-container-padding-right: 0;
	--nav-container-justify-content: flex-end;
	--nav-container-gap: 1rem;
	--nav-container-text-align: right;
	--nav-button-width: 32px;
	--nav-button-height: 32px;
	--nav-button-radius: 100%;
	--nav-button-background: transparent;
	--nav-button-background-hover: #000000;
	--nav-button-icon-color: #000000;
	--nav-button-icon-color-hover: #ffffff;
	--slide--padding-right: 1rem;
	.navigation-container {
		display: flex;
		justify-content: var(--nav-container-justify-content);
		gap: var(--nav-container-gap);
		padding: var(--nav-container-padding);
		padding-left: var(--nav-container-padding-left);
		padding-right: var(--nav-container-padding-right);
		text-align: var(--nav-container-text-align);
		.carousel-prev,
		.carousel-next {
		  position: relative;
		  background: var(--nav-button-background);
		  width: var(--nav-button-width); 
		  height: var(--nav-button-height);
		  border-radius: var(--nav-button-radius);
		  border: none;
		  cursor: pointer;
		  transition: background 0.3s ease;
		  &:hover {
			background: var(--nav-button-background-hover);
			svg path {
			  stroke: var(--nav-button-icon-color-hover);
			}
		  }
		  svg {
			margin: 0 auto;
			path {
			  stroke: var(--nav-button-icon-color);
			  transition: stroke 0.3s ease; // ensures the stroke change is animated
			}
		  }
		}
	  
	  .carousel-prev {
		svg {
		  transform: rotate(-180deg);
		}
	  }
	}
	
	.carousel-prev:disabled,
	.carousel-next:disabled {
	  opacity: 1;
	  cursor: pointer;
	  pointer-events: none;
	}
	.carousel-container {
		position: relative;
		overflow-x: clip;
	}
	
	.carousel-track {
	  display: flex;
	  align-items: stretch;
	  transition: transform 0.3s ease-out;
	}
	
	.carousel-slide {
	  display: flex;
	  flex-shrink: 0;
	  box-sizing: border-box;
	  padding-right: var(--slide--padding-right);	 
	  .wp-block-group {
		display: flex;
		flex-direction: column;
	  }
	}
	.wp-block-gopublish-carousel-slide {
   		width: 100%;
		max-width: var(--wp--style--global--content-size);
	}
	&.alignwide {
		.wp-block-gopublish-carousel-slide {
			max-width: var(--wp--style--global--wide-size)
		}
	}
	&.alignfull {
		.wp-block-gopublish-carousel-slide {
			max-width: 100vw;
		}
	}
	&.columns-1 {
		@media (min-width: 782px) {
			.carousel-slide {
				padding-right: unset;
			}
		}
	}
}

@media (max-width: 782px) {
	.wp-block-gopublish-carousel {
		.carousel-slide {
			width: 74.0740740741% !important;
			user-select: none;
			-webkit-user-select: none;
			cursor: move; /* fallback if grab cursor is unsupported */
			cursor: grab;
			cursor: -moz-grab;
			cursor: -webkit-grab;
		}
		.carousel-slide:active,
		.carousel-slide:focus {
			cursor: grabbing;
			cursor: -moz-grabbing;
			cursor: -webkit-grabbing;
		}
		@media (pointer: coarse) {
			.navigation-container {
				display: none;
			}
		}	
	}
}