/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-squareonesoftware-demo-carousel {
/* Basic carousel styling */
.carousel-container {
	position: relative;
	overflow: hidden;
	width: 100%;
  }
  
  .carousel-track {
	display: flex;
	align-items: stretch;
	transition: transform 0.3s ease-out;
  }
  
  .carousel-slide {
	display: flex;
	flex-shrink: 0;
	box-sizing: border-box;
	padding: 0 10px;
	.wp-block-group {
		display: flex;
		flex-direction: column;
		p:last-of-type {
			margin-top: auto;
		}
	}
  }

  .navigation-container {
	padding: 10px;
	text-align: right;
	.carousel-prev,
	.carousel-next {
		position: relative;
		background: #022C22;
		width: 52px; 
		height: 32px;
		border-radius: 20px;
		border: none;
		cursor: pointer;
		svg {
			margin: 0 auto;
		}
	}
	.carousel-prev {
		svg {
			transform: rotate(-180deg);
		}
	}
  }
  
  .carousel-prev:disabled,
  .carousel-next:disabled {
	opacity: 0.4;
	cursor: not-allowed;
  }
}
